{{define "footer"}}
  <footer>
    <p>
      Copyright YoMomma Enterprises Unlimited
    </p>
    <p>
      Contact information: <a href="mailto:f@u.io">special@flimflam.io</a>.
    </p>
  </footer>
{{end}}